{% extends 'base.html.twig' %}
{% block content %}
    <form action="" method="post">
        <div>
            <!--Page Content-->
            <div class="divider divider-lg"></div>

            <!--five steps tab!-->
            <section class="breadcrumbs text-center">
                <div class="container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-name="First-signupdata" data-toggle="tab" href="#fit">Fit</a><span class="divider">&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li><a data-name="second-signupdata" data-toggle="tab" href="#body-shape">Body Shape</a><span class="divider">&nbsp;&nbsp;&nbsp;&nbsp;</span><li>
                        <li> <a data-name="third-signupdata" data-toggle="tab" href="#style">Style</a><span class="divider">&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li> <a data-name="four-signupdata" data-toggle="tab" href="#budget">Budget</a><span class="divider">&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li> <a data-name="fifth-signupdata" data-toggle="tab" href="#profile">Profile</a>
                    </ul>
                </div>
            </section>
            <!--five steps tab!-->

            <!--steps tab!-->
            <section class="content">
                <div class="container">
                    <div class="tab-content">
                        <!---step1!-->
                        <div id="fit" class="tab-pane fade active in">                        
                            <div class="subtitle">
                                <div>
                                    <span>What is Your Size?</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2 col-md-offset-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="light light-1">Height</label>
                                        <select class="selectpicker" name="customer[cHeight][feet]">
                                            <option selected="selected" value="">Select Feet</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2  col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="light light-1">&nbsp;</label>
                                        <select class="selectpicker" name="customer[cHeight][inches]">
                                            <option selected="selected" value="">Select inches</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="light light-1">Weight</label>
                                        <input type="text" class="form-control" name="customer[cWeight][lbs]">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3 col-md-offset-2  col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="light light-1">Shirts&nbsp;</label>
                                        <select class="selectpicker" name="customer[cTopSize][size]">
                                            <option selected="selected" value="">Select size</option>
                                            <option value="XXS">XXS</option>
                                            <option value="XS">XS</option>
                                            <option value="S">S</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="XLL">XLL</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="divider divider-sm">
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2 col-md-offset-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="light light-1">Waist</label>
                                        <select class="selectpicker" name="feet">
                                            <option selected="selected" value="">Select waist</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2 col-md-offset-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="light light-1">Inseam</label>
                                        <select class="selectpicker" name="customer[cWaistSize][inches]">
                                            <option selected="selected" value="">Select Inseam</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2 col-md-offset-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="light light-1">Shoes</label>
                                        <select class="selectpicker" name="customer[cShoesSize][inches]">
                                            <option selected="selected" value="">Select Shoes</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <a class="btn btn-cool btn-md-sm btn-bottom pull-right" data-name="second-signupdata" data-toggle="tab" href="#body-shape">Next</a>
                                </div>
                            </div>
                        </div>
                        <!---End of step1!-->
                        <!---step2!-->

                        <div id="body-shape" class="tab-pane fade">
                            <div class="subtitle">
                                <div>
                                    <span>What is Your Body Shape?</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-1 margin-col-sm-top">
                                    <div  class="banner-square animate fadeInDown animated  rect">
                                        <div class="image-check">
                                            <div class="image"> 
                                                <label class="lab-pointer" for="shape1">
                                                    <img class="animate-scale" alt="" src="images/signupman-button.jpg">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="checkbox" class="hidden" id="shape1" name="customer[cBodyShape][]" value="Trapezoid"/>
                                    <div class="checkbox-checked"></div>
                                    <h6 class="center-text-align">Trapezoid</h6>
                                </div>
                                <div class="col-sm-2 margin-col-sm-top">
                                    <div  class="banner-square animate fadeInDown animated  rect">
                                        <div class="image-check">
                                            <div class="image"> 
                                                <label class="lab-pointer" for="shape2">
                                                    <img class="animate-scale" alt="" src="images/signupman-button.jpg">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="checkbox" class="hidden" id="shape2" name="customer[cBodyShape][]" value="Inverted Triangle"/>
                                    <div class="checkbox-checked"></div>
                                    <h6 class="center-text-align">Inverted Triangel</h6>
                                </div>
                                <div class="col-sm-2 margin-col-sm-top">
                                    <div  class="banner-square animate fadeInDown animated  rect">
                                        <div class="image-check">
                                            <div class="image"> 
                                                <label class="lab-pointer" for="shape3">
                                                    <img class="animate-scale" alt="" src="images/signupman-button.jpg">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="checkbox" class="hidden" id="shape3" name="customer[cBodyShape][]" value="Rectangle"/>
                                    <div class="checkbox-checked"></div>
                                    <h6 class="center-text-align">Rectangle</h6>
                                </div>
                                <div class="col-sm-2 margin-col-sm-top">
                                    <div  class="banner-square animate fadeInDown animated  rect">
                                        <div class="image-check">
                                            <div class="image"> 
                                                <label class="lab-pointer" for="shape4">
                                                    <img class="animate-scale" alt="" src="images/signupman-button.jpg">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="checkbox" class="hidden" id="shape4" name="customer[cBodyShape][]" value="Triangle">
                                    <div class="checkbox-checked"></div>
                                    <h6 class="center-text-align">Triangle</h6>
                                </div>
                                <div class="col-sm-2 margin-col-sm-top">
                                    <div  class="banner-square animate fadeInDown animated  rect">
                                        <div class="image-check">
                                            <div class="image"> 
                                                <label class="lab-pointer" for="shape5">
                                                    <img class="animate-scale" alt="" src="images/signupman-button.jpg">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="checkbox" class="hidden" id="shape5" name="customer[cBodyShape][]" value="Oval"/>
                                    <div class="checkbox-checked"></div>
                                    <h6 class="center-text-align">Oval</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1 margin-col-sm-top">
                                    <a class="btn btn-cool btn-md-sm btn-bottom pull-left" data-name="First-signupdata" data-toggle="tab" href="#fit">Previous</a>
                                    <a class="btn btn-cool btn-md-sm btn-bottom pull-right" data-name="second-signupdata" data-toggle="tab" href="#style">Next</a>
                                </div> 
                            </div>
                        </div>
                        <!---End of step2!-->

                        <!---step3!-->
                        <div id="style" class="tab-pane">
                            <div class="subtitle">
                                <div>
                                    <span>What of there styles do you like?</span>
                                </div>
                            </div>
                            <div class="row">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <div class="col-md-4 col-md-offset-4 margin-col-sm-top ">
                                                <div  class="banner-square animate fadeInDown animated  rect">
                                                    <div class="image-check">
                                                        <div class="image"> 
                                                            <label class="lab-pointer" for="style1">
                                                                <img class="animate-scale" alt="" src="images/styl-s.png">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="checkbox" class="hidden" id="style1" name="customer[cLikeStyles][]" value="style1" />
                                                <div class="checkbox-checked"></div>
                                                <h6 class="center-text-align">Sophisticated</h6>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-4 col-md-offset-4 margin-col-sm-top ">
                                                <div  class="banner-square animate fadeInDown animated  rect">
                                                    <div class="image-check">
                                                        <div class="image"> 
                                                            <label class="lab-pointer" for="style2">
                                                                <img class="animate-scale" alt="" src="images/styl-s.png">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="checkbox" class="hidden" id="style2" name="customer[cLikeStyles][]" value="style2" />
                                                <div class="checkbox-checked"></div>
                                                <h6 class="center-text-align">Preppy</h6>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-4 col-md-offset-4 margin-col-sm-top ">
                                                <div  class="banner-square animate fadeInDown animated  rect">
                                                    <div class="image-check">
                                                        <div class="image"> 
                                                            <label class="lab-pointer" for="style3">
                                                                <img class="animate-scale" alt="" src="images/styl-s.png">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="checkbox" class="hidden" id="style3" name="customer[cLikeStyles][]" value="style3" />
                                                <div class="checkbox-checked"></div>
                                                <h6 class="center-text-align">Modern</h6>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-4 col-md-offset-4 margin-col-sm-top ">
                                                <div  class="banner-square animate fadeInDown animated  rect">
                                                    <div class="image-check">
                                                        <div class="image"> 
                                                            <label class="lab-pointer" for="style4">
                                                                <img class="animate-scale" alt="" src="images/styl-s.png">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="checkbox" class="hidden" id="style4" name="customer[cLikeStyles][]" value="style4" />
                                                <div class="checkbox-checked"></div>
                                                <h6 class="center-text-align">Athletic</h6>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-4 col-md-offset-4 margin-col-sm-top ">
                                                <div  class="banner-square animate fadeInDown animated  rect">
                                                    <div class="image-check">
                                                        <div class="image"> 
                                                            <label class="lab-pointer" for="style5">
                                                                <img class="animate-scale" alt="" src="images/styl-s.png">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="checkbox" class="hidden" id="style5" name="customer[cLikeStyles][]" value="style5" />
                                                <div class="checkbox-checked"></div>
                                                <h6 class="center-text-align">Rock</h6>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-4 col-md-offset-4 margin-col-sm-top ">
                                                <div  class="banner-square animate fadeInDown animated  rect">
                                                    <div class="image-check">
                                                        <div class="image"> 
                                                            <label class="lab-pointer" for="style6">
                                                                <img class="animate-scale" alt="" src="images/styl-s.png">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="checkbox" class="hidden" id="style6" name="customer[cLikeStyles][]" value="style6" />
                                                <div class="checkbox-checked"></div>
                                                <h6 class="center-text-align">Professional </h6>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-4 col-md-offset-4 margin-col-sm-top ">
                                                <div  class="banner-square animate fadeInDown animated  rect">
                                                    <div class="image-check">
                                                        <div class="image"> 
                                                            <label class="lab-pointer" for="style7">
                                                                <img class="animate-scale" alt="" src="images/styl-s.png">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="checkbox" class="hidden" id="style7" name="customer[cLikeStyles][]" value="style7" />
                                                <div class="checkbox-checked"></div>
                                                <h6 class="center-text-align">Minimalist</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->


                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="slick-prev slick-disabled " aria-hidden="true"></span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="slick-next" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <h6 class="center-text-align">Pick all that fit your taste</h6>
                            </div>
                            <hr>
                            <div class="row">
                                <h6 class="center-text-align">What of these colors palettes you like?</h6>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-1 margin-col-sm-top">
                                    <div  class="banner-square animate fadeInDown animated  rect">
                                        <div class="image-check">
                                            <div class="image"> 
                                                <label class="lab-pointer" for="cool">
                                                    <img class="animate-scale" alt="" src="images/cool.png">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {# <input class="hidden" id="cool" type="radio" name="customer[cLikeColorPalettes][]" value="cool"/>#}
                                    <input class="hidden" id="cool" type="radio" name="cool" value="cool"/>
                                    <div class="radiochecked"></div>
                                    <h4 class="center-text-align">cool palettes</h4>
                                </div>
                                <div class="col-sm-4 col-sm-offset-1 margin-col-sm-top">
                                    <div  class="banner-square animate fadeInDown animated  rect">
                                        <div class="image-check">
                                            <div class="image"> 
                                                <label class="lab-pointer" for="warm">
                                                    <img class="animate-scale" alt="" src="images/warm.png">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <input class="hidden" id="warm" type="radio" name="warm" value="warm"/>
                                    <input class="hidden" id="warm" type="radio" name="customer[cLikeColorPalettes][]" value="warm"/>
                                    <div class="radiochecked"></div>
                                    <h4 class="center-text-align">warm palettes</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1  margin-col-sm-top">
                                    <a class="btn btn-cool btn-md-sm btn-bottom pull-left" data-name="second-signupdata" data-toggle="tab" href="#body-shape">Previous</a>
                                    <a class="btn btn-cool btn-md-sm btn-bottom pull-right" data-name="four-signupdata" data-toggle="tab" href="#budget">Next</a>
                                </div> 
                            </div>
                        </div>
                        <!---End of step3!-->

                        <!---step4!-->
                        <div id="budget" class="tab-pane">
                            <div class="subtitle">
                                <div>
                                    <span>How much would you ideally spend on these categories?</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-3 margin-col-sm-top">
                                    <h6>Shirts</h6>
                                </div>
                                <div class="col-sm-4">
                                    <div id="box2" class="panel-collapse in">
                                        <div class="panel-body">
                                            <div class="slider-range" id="rangeslide1">
                                                <div class="min">
                                                    $<span class="value-lower">0</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][Shirts][]" value="0" class="lvalue hidden"/>
                                                </div>
                                                <div class="max">
                                                    $<span class="value-upper">400</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][Shirts][]" value="0" class="uvalue hidden"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-3 margin-col-sm-top">
                                    <h6>Tops</h6>
                                </div>
                                <div class="col-sm-4">
                                    <div id="box3" class="panel-collapse in">
                                        <div class="panel-body">
                                            <div class="slider-range">
                                                <div class="min">
                                                    $<span class="value-lower">19</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][Tops][]" value="0" class="lvalue hidden"/>
                                                </div>
                                                <div class="max">
                                                    $<span class="value-upper">3000</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][Tops][]" value="0" class="uvalue hidden"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-3 margin-col-sm-top">
                                    <h6>Bottoms</h6>
                                </div>
                                <div class="col-sm-4">
                                    <div id="box2" class="panel-collapse in">
                                        <div class="panel-body">
                                            <div class="slider-range">
                                                <div class="min">
                                                    $<span class="value-lower">19</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][Bottoms][]" value="0" class="lvalue hidden"/>
                                                </div>
                                                <div class="max">
                                                    $<span class="value-upper">3000</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][Bottoms][]" value="0" class="uvalue hidden"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-3 margin-col-sm-top">
                                    <h6>Out layers</h6>
                                </div>
                                <div class="col-sm-4">
                                    <div id="box2" class="panel-collapse in">
                                        <div class="panel-body">
                                            <div class="slider-range">
                                                <div class="min">
                                                    $<span class="value-lower">19</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][outLayers][]" value="0" class="lvalue hidden"/>
                                                </div>
                                                <div class="max">
                                                    $<span class="value-upper">3000</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][outLayers][]" value="0" class="uvalue hidden"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-3 margin-col-sm-top">
                                    <h6>Shoes</h6>
                                </div>
                                <div class="col-sm-4">
                                    <div id="box2" class="panel-collapse in">
                                        <div class="panel-body">
                                            <div class="slider-range">
                                                <div class="min">
                                                    $<span class="value-lower">19</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][Shoes][]" value="0" class="lvalue hidden"/>
                                                </div>
                                                <div class="max">
                                                    $<span class="value-upper">3000</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][Shoes][]" value="0" class="uvalue hidden"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-3 margin-col-sm-top">
                                    <h6>Bags</h6>
                                </div>
                                <div class="col-sm-4">
                                    <div id="box2" class="panel-collapse in">
                                        <div class="panel-body">
                                            <div class="slider-range">
                                                <div class="min">
                                                    $<span class="value-lower">19</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][Bags][]" value="0" class="lvalue hidden"/>
                                                </div>
                                                <div class="max">
                                                    $<span class="value-upper">3000</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][Bags][]" value="0" class="uvalue hidden"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-3 margin-col-sm-top">
                                    <h6>Jewelry & Watches</h6>
                                </div>
                                <div class="col-sm-4">
                                    <div id="box2" class="panel-collapse in">
                                        <div class="panel-body">
                                            <div class="slider-range">
                                                <div class="min">
                                                    $<span class="value-lower">19</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][jaw][]" value="0" class="lvalue hidden"/>
                                                </div>
                                                <div class="max">
                                                    $<span class="value-upper">3000</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][jaw][]" value="0" class="uvalue hidden"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-3 margin-col-sm-top">
                                    <h6>Accessories</h6>
                                </div>
                                <div class="col-sm-4">
                                    <div id="box2" class="panel-collapse in">
                                        <div class="panel-body">
                                            <div class="slider-range">
                                                <div class="min">
                                                    $<span class="value-lower">19</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][Accessories][]" value="0" class="lvalue hidden"/>
                                                </div>
                                                <div class="max">Shirts
                                                    $<span class="value-upper">3000</span>
                                                    <input type="text" name="customer[cIdeallySpentForCategories][Accessories][]" value="0" class="uvalue hidden"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3  margin-col-sm-top">
                                    <a class="btn btn-cool btn-md-sm btn-bottom pull-left" data-name="third-signupdata" data-toggle="tab" href="#style">Previous</a>
                                    <a class="btn btn-cool btn-md-sm btn-bottom pull-right" data-name="fifth-signupdata" data-toggle="tab" href="#profile">Next</a>
                                </div> 
                            </div>
                        </div>
                        <!---End of step4!-->

                        <!---step5!-->
                        <div id="profile" class="tab-pane">

                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-2 right-side-border">
                                    <h2 class= "center-text-align">Almost Done!</h2>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="customer[cFirstName]" placeholder="FIRST NAME">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="customer[cLastName]" placeholder="LAST NAME">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="customer[cPhone]" placeholder="PHONE">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="customer[cZip]" placeholder="ZIP CODE">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="customer[cEmail]" placeholder="EMAIL ADDRESS">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="customer[cPassword]" placeholder="PASSWORD">
                                    </div>
                                    <input type="hidden" class="form-control" name="customer[cGender]" value="Male">
                                    <input type="submit" class="form-control btn btn-cool btn-md-sm btn-bottom" value="CREATE YOUR ACCOUNT">
                                    <p class="p-set-font">
                                        By Clicking Create Your Account, you agree to our <a href="#"><span class="a-popup-color">terms</span></a> and<a href="#"><span class="a-popup-color"> privacy policy.</span></a>
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <h2 class= "center-text-align">...or Signup with</h2>
                                    <div class="text-center">
                                        <a class="sign-btn sign-btn-facebook" href="#"><span class="icon flaticon-facebook12"></span>Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a class="sign-btn sign-btn-twitter" href="#"><span class="icon flaticon-social19"></span>Twitter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---End of step5!-->
                        <div class="divider divider-sm">
                        </div>
                    </div>
                </div>
            </section>
            <!--steps tab!-->
            <!--Page Content-->
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    <script>
        $j(document).ready(function () {
            $j('.checkbox-checked').click(function () {
                $j(this).toggleClass("highlight");
                $j(this).prev('input[type=checkbox]').trigger('click');

            });
            $j(".image-check").click(function () {
                $j('.radiochecked').hide();
                $j(this).parents('.col-sm-4').find('.radiochecked').show();
            });
        });
    </script>
{% endblock %}




