{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}
{% extends "::base.html.twig" %}
{% block title %}Profile{% endblock %}
{% block content %}

    <!--Page Content-->
    <section class="content">
        <div class="container">
            <div class="subtitle">
                <div>
                    <span>Look Book <b>|</b> </span>
                </div>
            </div>
            <div class="divider divider-sm"></div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="jumbotron">
                        <form action="/changepwd/{{userid}}" method="post">
                         
                           
                             {{form_widget(form)}}
                           
                            <div class="form-group">
                                <button class="btn btn-primary pull-right" type="submit">Change Password</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
    </section>
    <!-- //end Page Content -->
{% endblock %}